.contents_card {
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
}

.content {
    padding: 0 20px 40px;
}

.contents_card img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.content_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.content_population,
.content_region,
.content_capital {
    font-size: 14px;
    line-height: 26px;
}

.content_population_title,
.content_region_title,
.content_capital_title {
    font-weight: 600;
}